#background-image {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#border-bottom {
    -fx-border-style: hidden solid solid solid;
    -fx-border-width: 5px;
    -fx-border-color: orange;
}

#label-text {
    -fx-font-family: "Cambria";
    -fx-font-size: 20px;
    -fx-padding: 0 10px 0 10px;
}
#type-background {
    -fx-background-insets: 0px 20px 22px 0px;
    -fx-padding: 8px 25px 30px 8px;
}